body {
  font-family: "Montserrat", sans-serif;
  background: #1D1D1D;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.categories {
  padding-top: 50px;
}

.categories h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.categories-item {
  position: relative;
  background: #242424;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  border: 1px solid #2c2f37;
}

.categories-item__monitor {
  padding-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories-item__monitor:hover::before {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.categories-item__monitor::before {
  opacity: 0.6;
  content: " ";
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 80px;
  background: #3B3E45;
  border-radius: 100px;
  -webkit-transform: rotate(-30.35deg);
  transform: rotate(-30.35deg);
}

.categories-item__monitor img {
  z-index: 1000;
  width: 80%;
}

.categories-item__motherboard {
  padding-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories-item__motherboard:hover::before {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.categories-item__motherboard::before {
  opacity: 0.6;
  content: " ";
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 80px;
  background: #7747b4;
  border-radius: 100px;
  -webkit-transform: rotate(-30.35deg);
  transform: rotate(-30.35deg);
}

.categories-item__motherboard img {
  z-index: 1000;
  width: 80%;
}

.categories-item__pc {
  padding-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories-item__pc:hover::before {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.categories-item__pc::before {
  opacity: 0.6;
  content: " ";
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 80px;
  background: #2C4C98;
  border-radius: 100px;
  -webkit-transform: rotate(-30.35deg);
  transform: rotate(-30.35deg);
}

.categories-item__pc img {
  z-index: 1000;
  width: 80%;
}

.categories-item__laptop {
  padding-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories-item__laptop:hover::before {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.categories-item__laptop::before {
  opacity: 0.6;
  content: " ";
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 80px;
  background: #B47B47;
  border-radius: 100px;
  -webkit-transform: rotate(-30.35deg);
  transform: rotate(-30.35deg);
}

.categories-item__laptop img {
  z-index: 1000;
  width: 80%;
}

.categories-item__components {
  padding-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories-item__components:hover::before {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.categories-item__components::before {
  opacity: 0.6;
  content: " ";
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 80px;
  background: #9B6281;
  border-radius: 100px;
  -webkit-transform: rotate(-30.35deg);
  transform: rotate(-30.35deg);
}

.categories-item__components img {
  z-index: 1000;
  width: 80%;
}

.categories-item__content {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories-item__content-name {
  font-weight: 500;
  font-size: 15px;
  line-height: 13px;
}

.categories-item__content-arrow img {
  height: 20px;
}
/*# sourceMappingURL=styles.css.map */


/* Slider */
.gallery {
  margin-top: 100px;
}



.slider-item img{
  border-radius: 20px;
  width: 23em;
  padding: 0;
  height: auto;
}


.slick-prev  {
  transform: rotate(180deg);
  background-image: url(/lab3/website/images/arrow-right.svg);
  border: none;
  background-size: contain;
  background-color: inherit;
  background-repeat: no-repeat;
  font-size: 25px;
  color: transparent;
  width: 30px;
}
.slick-next  {
  background-size: contain  ;
  background-image: url(/lab3/website/images/arrow-right.svg);
  border: none;
  background-color: inherit;
  background-repeat: no-repeat;
  font-size: 28px;
  color: transparent;
  width: 30px;
  position: absolute;
  top: 0px;
  left: 30px;
}

.slider .slick-initialized .slick-slider {
  display: flex;
}

.video-slider {
  margin-bottom: 100px;
}



/*////*/


#main-image {
  display: block; 
  margin: auto; 
  width: 100%; 
  border-radius: 40px; 
  margin-top: 40px; 
  border: 1px solid #2c2f37;
}

td img {
  max-width: 100%;
  max-height: 230px;
  margin-top: 10px;
}

#submit_btn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

#submit_btn:hover {
  opacity: 0.8;
}

#go_to_all_labs_btn {
  font-size: 16px;
  
  padding: 16px 32px;
  margin-right: 10%;
  
  transition-duration: 0.1s;
  cursor: pointer;
  float: right;
  
  background-color: #f2fcff;
  border: 1px solid black;
}

#go_to_all_labs_btn:hover {
  background-color: #d5f5ff;
}

#go_to_all_labs_btn:active {
  color: black;
  background-color: #bef0ff;
}

li {
  list-style-type: none;
}

/*//*/


#price-slider{
  width: 500px;
  margin-left: 50px;
  margin-bottom: 30px; 
}