body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    font-size: 14px;
    line-height: 1.6;    font-family: 'Montserrat', sans-serif;
}

/* Container */
.container{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}



/* Header */

.header { 
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-style: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);

}

.selection {
    position: absolute;
    top: 150px;
    border: black solid 1px;
    padding: 10px;
    width: 90%;
    margin-left: 5%;
}

.sel_lab {
    border-bottom: black solid 1px;
    height: 10%;

    text-align: center;
}

/* Nav */

.nav {
    font-style: 14px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    position: relative;

    color: rgb(0, 0, 0);
    text-decoration: none;

    transition: color .2s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #2f00ff;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}

.nav_link:hover{
    color: #2f00ff;
}

.nav_link:hover:after{
    display: block;
    opacity: 1;
}


/* ---------------------------------- */

.lab_title {
    width: 90px; 
    border: 2px solid green; 
    padding: 6px;
    margin: 8px;
    margin-bottom: 20px;

    text-align: center;
    display: inline-flex;
}