body {
    font-size: 1.25em;
}

h2 {
    font-size: 1em;
}

.tag {
    font-family: "Courier New",Courier,mono;
    color: #069;
    font-size: 1em;
    font-weight: bold;
}

.var {
    font: 1em "Courier New",Courier,mono;
}

.button {
    background: #ddd;
    border: 2px outset #ddd;
    padding: 0 3px;
    color: #333;
    font-size: 0.92em;
}

.attribute {
    color: #b61039;
    font-weight: normal;
    border: none;
    background: none;
    white-space: nowrap;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin: 0.5em 0 0.5em 30px;
}

dd {
    display: block;
    margin-inline-start: 40px;
}

dl.param dt {
    color: #0d8e81;
    float: left;
}

dl.param dd {
    margin: 0.4em 0 0.5em 6.5em;
}