body {
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0;
    font: 1em/1.4em sans-serif;
    background-color: #333339;
    color: #fff;
    
}

a {
    color: #fff;
}



h2 {
    font-size: 1em;
    text-decoration: underline;
    text-align: center;
}

.tag {
    font-family: "Courier New",Courier,mono;
    color: rgb(51, 236, 227);
    font-size: 1em;
    font-weight: bold;
}

.var {
    font: 1em "Courier New",Courier,mono;
}

.button {
    background: #ddd;
    border: 2px outset #ddd;
    padding: 0 3px;
    color: #333;
    font-size: 0.92em;
}

.attribute {
    color: #fff7c1;
    font-weight: normal;
    border: none;
    background: none;
    white-space: nowrap;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    margin: 0.5em 0 0.5em 30px;
}

dd {
    display: block;
    margin-inline-start: 40px;
}

dl.param dt {
    color: #fff7c1;
    float: left;
}

dl.param dd {
    margin: 0.4em 0 0.5em 8.5em;
}

li {
    margin: 5px;
}

img {
    max-width: 90%;
    margin-top: 2px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.left-aligned {
    display: block;
    width: 80%;
    margin-bottom: 20px;
}

.empty-space {
    height: 100px;
}

